In [1]:
import os
import pandas as pd
os.listdir(os.chdir(os.path.join(os.getcwd(), "../input/cat-in-the-dat-ii")))

['test.csv', 'train.csv', 'sample_submission.csv']

In [7]:
df_input = pd.read_csv("train.csv") 
print(df_input.columns)
df_input

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,Freezing,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,Boiling Hot,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,Freezing,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,Warm,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,Boiling Hot,b,O,uI,5.0,8.0,0

In [6]:
df_input.target.value_counts(normalize=True)

0    0.812795
1    0.187205
Name: target, dtype: float64

## look at ord_2 feature

In [15]:
# look at ord_2 feature
print(f"Missing value count --> {df_input.ord_2.isna().sum()}")
df_input.ord_2.value_counts()

Missing value count --> 18075

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [11]:
mapping = {"Freezing" : 0,
          "Warm": 1,
          "Cold": 2,
          "Boiling Hot": 3,
          "Hot": 4,
          "Lava Hot": 5}

In [13]:
df_input.loc[:,"ord2_new"] = df_input.ord_2.map(mapping)
df_input.ord2_new.value_counts()

0.0    142726
1.0    124239
2.0     97822
3.0     84790
4.0     67508
5.0     64840
Name: ord2_new, dtype: int64

# This type of encoding of categorical variables is known as Label Encoding i.e., we are encoding every category as a numerical label

In [73]:
# Label Encoder using scikit-learn
import pandas as pd
from sklearn import preprocessing

df = pd.read_csv("train.csv")
df.loc[:, "ord_2"] = df.ord_2.fillna("NONE")

# initialize LabelEncoder
lbl_enc = preprocessing.LabelEncoder()

df.loc[:, "ord2_new_le"] = lbl_enc.fit_transform(df.ord_2.values)
print(Counter(df.ord_2))
df.ord_2

Counter({'Freezing': 142726, 'Warm': 124239, 'Cold': 97822, 'Boiling Hot': 84790, 'Hot': 67508, 'Lava Hot': 64840, 'NONE': 18075})

0                 Hot
1                Warm
2            Freezing
3            Lava Hot
4                Cold
             ...
599995       Freezing
599996    Boiling Hot
599997       Freezing
599998           Warm
599999    Boiling Hot
Name: ord_2, Length: 600000, dtype: object

In [74]:
from collections import Counter
print(Counter(df.ord2_new_le))
print(df.ord2_new_le.unique())
df.ord2_new_le

Counter({2: 142726, 6: 124239, 1: 97822, 0: 84790, 3: 67508, 4: 64840, 5: 18075})
[3 6 2 4 1 0 5]

0         3
1         6
2         2
3         4
4         1
         ..
599995    2
599996    0
599997    2
599998    6
599999    0
Name: ord2_new_le, Length: 600000, dtype: int64

In [19]:
# Binarize the data
import numpy as np
example = np.array([[0,0,1], [1,0,0], [1,0,1]])

print(example.nbytes)

72

In [ ]:
# store it as key as row indices and values as 1 position
(0,2)   1 
(1,1)   1 
(2,0)   1 
(2,2)   1

In [23]:
import numpy as np
from scipy import sparse
example = np.array([[0,0,1], [1,0,0], [1,0,1]])
sparse_example = sparse.csr_matrix(example)
print(sparse_example.data.nbytes)

32

In [24]:
# total size of a sparse matrix
print(sparse_example.data.nbytes + sparse_example.indptr.nbytes + sparse_example.indices.nbytes)

64

In [25]:
# 64 is still less than 72 bytes

In [33]:
import numpy as np
from scipy import sparse
n_rows = 10000
n_cols = 100000
example = np.random.binomial(1, p =0.05, size=(n_rows,n_cols))
print(f"size of dense array --> {example.nbytes}")

sparse_example = sparse.csr_matrix(example)

print(f"full size of sparse array --> {(sparse_example.data.nbytes + sparse_example.indptr.nbytes + sparse_example.indices.nbytes)}")

size of dense array --> 8000000000
size of sparse array --> 599981132

In [37]:
print(f"Size in MB --> {example.nbytes/(1000*1000)}")
print(f"Size in MB --> {(sparse_example.data.nbytes + sparse_example.indptr.nbytes + sparse_example.indices.nbytes)/(1000*1000)}")

Size in MB --> 8000.0
Size in MB --> 599.981132

In [40]:
import numpy as np
from scipy import sparse
example = np.array([[0,0,0,0,1,0], [0,1,0,0,0,0], [1,0,0,0,0,0]])
print(f"size of dense array --> {example.nbytes}")

sparse_example = sparse.csr_matrix(example)
print(f"size of sparse array --> {sparse_example.data.nbytes}")

print(f"full size of sparse array --> {(sparse_example.data.nbytes + sparse_example.indptr.nbytes + sparse_example.indices.nbytes)}")

size of dense array --> 144
size of sparse array --> 24
full size of sparse array --> 52

In [42]:
# 1001 categories into sparse and dense matrix
import numpy as np
from sklearn import preprocessing
example = np.random.randint(1000, size = 1000000)

ohe = preprocessing.OneHotEncoder(sparse=False)
ohe_example = ohe.fit_transform(example.reshape(-1,1))
print(f"size of dense array --> {ohe_example.data.nbytes}")
ohe = preprocessing.OneHotEncoder(sparse=True)
ohe_example = ohe.fit_transform(example.reshape(-1, 1))
print(f"size of sparse array --> {ohe_example.data.nbytes}")

print(f"full size of sparse array --> {(ohe_example.data.nbytes + ohe_example.indptr.nbytes + ohe_example.indices.nbytes)}")

size of dense array --> 8000000000
size of sparse array --> 8000000
full size of sparse array --> 16000004

In [47]:
(8000000000)/(1000 * 1000) # 8 Gb dense array size
(8000000)/(1000*1000) # 8 MB sparse array

8000.0

In [49]:
# Converting categories variables to numerical variables
df[df.ord_2 =="Boiling Hot"].shape

(84790, 26)

In [50]:
df.groupby(["ord_2"])["id"].count()

ord_2
Boiling Hot     84790
Cold            97822
Freezing       142726
Hot             67508
Lava Hot        64840
NONE            18075
Warm           124239
Name: id, dtype: int64

In [52]:
df.groupby(["ord_2"])["id"].transform("count")

0          67508
1         124239
2         142726
3          64840
4          97822
           ...
599995    142726
599996     84790
599997    142726
599998    124239
599999     84790
Name: id, Length: 600000, dtype: int64

In [57]:
df.groupby(["ord_1", "ord_2"])["id"].count().reset_index(name="count")

          ord_1        ord_2  count
0   Contributor  Boiling Hot  15634
1   Contributor         Cold  17734
2   Contributor     Freezing  26082
3   Contributor          Hot  12428
4   Contributor     Lava Hot  11919
5   Contributor         NONE   3250
6   Contributor         Warm  22774
7        Expert  Boiling Hot  19477
8        Expert         Cold  22956
9        Expert     Freezing  33249
10       Expert          Hot  15792
11       Expert     Lava Hot  15078
12       Expert         NONE   4225
13       Expert         Warm  28900
14  Grandmaster  Boiling Hot  13623
15  Grandmaster         Cold  15464
16  Grandmaster     Freezing  22818
17  Grandmaster          Hot  10805
18  Grandmaster     Lava Hot  10363
19  Grandmaster         NONE   2894
20  Grandmaster         Warm  19899
21       Master  Boiling Hot  10800
22       Master         Cold  12364
23       Master     Freezing  18035
24       Master          Hot   8594
25       Master     Lava Hot   8209
26       Master         NONE   2262
27       Master         Warm  15734
28       Novice  Boiling Hot  22718
29       Novice         Cold  26271
30       Novice     Freezing  38233
31       Novice          Hot  17850
32       Novice     Lava Hot  17373
33       Novice         NONE   4889
34       Novice         Warm  33263

In [63]:
df.ord_1.fillna("None", inplace=True)
df.ord_2.fillna("None", inplace=True)

df["new_feature"] = df.ord_1.astype(str) + "_" + df.ord_2.astype(str)
df.new_feature

0                 Contributor_Hot
1                Grandmaster_Warm
2                   None_Freezing
3                 Novice_Lava Hot
4                Grandmaster_Cold
                   ...
599995            Novice_Freezing
599996         Novice_Boiling Hot
599997       Contributor_Freezing
599998                Master_Warm
599999    Contributor_Boiling Hot
Name: new_feature, Length: 600000, dtype: object

In [64]:
df.ord_2.value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
NONE            18075
Name: ord_2, dtype: int64

In [65]:
df.ord_2.fillna("NONE").value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
NONE            18075
Name: ord_2, dtype: int64