In [63]:
import os
import pandas as pd
os.chdir("/Users/paritoshgupta/Downloads/")

In [64]:
df1 = pd.read_csv("submission (1).csv")
df2 = pd.read_csv("submission (2).csv")

In [65]:
df1.head()
raw_cols = df1.columns

In [66]:
df2.head()

        id_seqpos  reactivity  deg_Mg_pH10  deg_pH10  deg_Mg_50C  deg_50C
0  id_00073f8be_0    0.660830     0.666202         0    0.549117        0
1  id_00073f8be_1    1.999596     2.847077         0    3.052876        0
2  id_00073f8be_2    1.439297     0.553006         0    0.632595        0
3  id_00073f8be_3    1.260222     1.088080         0    1.587752        0
4  id_00073f8be_4    0.847779     0.577119         0    0.863522        0

In [67]:
df1.columns = ['id_seqpos', 'reactivity_1', 'deg_Mg_pH10_1', 'deg_pH10_1', 'deg_Mg_50C_1',
       'deg_50C_1']
df2.columns = ['id_seqpos', 'reactivity_2', 'deg_Mg_pH10_2', 'deg_pH10_2', 'deg_Mg_50C_2',
       'deg_50C_2']

In [68]:
out = pd.merge(df1, df2, how="inner", on ="id_seqpos")

In [69]:
out

,id_seqpos,reactivity_1,deg_Mg_pH10_1,deg_pH10_1,deg_Mg_50C_1,deg_50C_1,reactivity_2,deg_Mg_pH10_2,deg_pH10_2,deg_Mg_50C_2,deg_50C_2
0,id_00073f8be_0,0.651282,0.622396,2.008318,0.516083,0.788561,0.660830,0.666202,0,0.549117,0
1,id_00073f8be_1,1.936981,2.940340,4.000750,3.017516,2.816247,1.999596,2.847077,0,3.052876,0
2,id_00073f8be_10,0.544876,0.539253,0.527254,0.513370,0.886967,0.557220,0.486579,0,0.483425,0
3,id_00073f8be_100,0.238554,0.409803,0.642752,0.450723,0.579407,0.241336,0.383036,0,0.479653,0
4,id_00073f8be_101,0.430161,0.188444,0.297418,0.212224,0.458156,0.438625,0.173297,0,0.222866,0
...,...,...,...,...,...,...,...,...,...,...,...
457948,id_ffda94f24_95,0.031339,0.349353,0.233883,0.076835,0.082805,0.060653,0.367754,0,0.134622,0
457949,id_ffda94f24_96,0.052405,0.051845,0.085247,-0.028250,0.021313,0.057434,0.057335,0,0.000589,0
457950,id_ffda94f24_97,0.401063,0.323955,-0.083908,-0.119950,-0.037403,0.328216,0.362771,0,-0.002823,0
457951,id_ffda94f24_98,1.497716,0.371376,0.095686,0.073223,0.054202,1.306216,0.315104,0,0.142061,0
457952,id_ffda94f24_99,0.302401,0.209946,0.066418,0.051518,0.011754,0.283701,0.129438,0,0.062580,0

In [70]:
out['reactivity'] = 0.6 * out['reactivity_1'] + 0.4 * out['reactivity_2']
out['deg_Mg_pH10'] = 0.65 * out['deg_Mg_pH10_1'] + 0.35 * out['deg_Mg_pH10_2']
out['deg_pH10'] = 0.7 * out['deg_pH10_1'] + 0.3 * out['deg_pH10_2']
out['deg_Mg_50C'] = 0.75 * out['deg_Mg_50C_1'] + 0.25 * out['deg_Mg_50C_2']
out['deg_50C'] = 0.7 * out['deg_50C_1'] + 0.3 * out['deg_50C_2']

In [71]:
out[raw_cols].to_csv("submission_new.csv", index=False)